@font-face {
  font-family: lato;
  src: url(./Lato-Regular.ttf);
  font-display: swap;
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-family: lato;
  min-height: 100vh;
  max-width: 1920px;
  overflow-y: scroll;
}

a {
  transition: color 0.3s ease;
}

.pagefull .before {
  padding: max(112.5px, 19vh);
  background-color: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
@media only Screen and (min-width: 1200px) {
  .pagefull .before {
    border-top: 2px solid black;
    border-bottom: initial;
    border-bottom-right-radius: initial;
    border-bottom-left-radius: initial;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
.pagefull .before::before {
  position: absolute;
  content: " ";
  border: 100px solid;
  border-color: transparent transparent #595959 transparent;
  border-radius: 50%;
  right: -100px;
  bottom: calc(100% - 100px);
  left: -100px;
}
@media only Screen and (min-width: 1200px) {
  .pagefull .before::before {
    border-color: #595959 transparent transparent transparent;
    top: calc(100% - 100px);
    right: -100px;
    left: -100px;
    bottom: initial;
  }
}
.pagefull .content {
  color: white;
  background-color: #595959;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}
@media only Screen and (min-width: 1200px) {
  .pagefull .content {
    border-bottom: 2px solid black;
    border-top: initial;
    border-top-right-radius: initial;
    border-top-left-radius: initial;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
.pagefull .content > span {
  font-weight: 600;
}
.pagefull .content > span + span {
  font-weight: initial;
}

a[href="#top"] {
  color: white;
  height: 27px;
  width: 27px;
  font-size: smaller;
  background-color: #595959;
  transition: border-color 0.4s ease-out;
  border: 1px solid;
  border-color: #595959;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 50%;
  margin: 1.5rem auto auto auto;
}
a[href="#top"]:hover, a[href="#top"]:focus {
  color: white;
  border-color: white;
}

nav {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}
nav ul li:nth-child(2), nav ul li:nth-child(4) {
  border-right: none;
}
@media only Screen and (min-width: 768px) {
  nav ul li:nth-child(2), nav ul li:nth-child(4) {
    border-right: 2px solid black;
  }
}
nav ul li:last-child {
  border-right: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-wrap: wrap;
}
@media only Screen and (min-width: 768px) {
  nav ul li:last-child {
    margin-top: unset;
    border-bottom: 2px solid black;
  }
}
nav ul li:last-child:hover::after, nav ul li:last-child:focus::after {
  width: 0;
}
nav ul li:hover::after, nav ul li:focus::after {
  width: 100%;
}
nav ul li:hover::after, nav ul li:focus::after {
  width: 100%;
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 0;
  background-color: black;
  transition: width 0.75s;
  transition-delay: 250ms;
}
nav ul li a {
  font-size: smaller;
  text-decoration: none;
  color: black;
  min-height: 50px;
  width: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only Screen and (min-width: 768px) {
  nav ul li a {
    font-size: medium;
    min-height: 70px;
  }
}
nav ul li a:hover, nav ul li a:focus {
  color: slategrey;
}
nav ul li a span {
  align-self: end;
}
nav #svg {
  background-image: url(../images/atom.svg);
  height: 23px;
  width: 23px;
  background-size: cover;
  margin: auto 5px;
}
nav .svg-inline--fa {
  transition: color 0.3s ease, background-color 0.3s ease;
}
nav .svg-inline--fa:hover, nav .svg-inline--fa:focus {
  background-color: black;
  color: white;
}

header {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
header h1 {
  font-size: 2em;
  color: black;
}
@media only Screen and (min-width: 1200px) {
  header h1 {
    font-size: 4em;
  }
}

article {
  border-radius: 20px;
  border: 2px solid black;
  width: 100%;
}
@media only Screen and (min-width: 768px) {
  article {
    width: 49.5%;
  }
  article:nth-child(odd) {
    margin-right: 1%;
  }
}
article h2 {
  color: #595959;
}
article img {
  width: 10%;
  height: max-content;
  min-width: 50px;
  filter: grayscale(100%);
  border-radius: 10px;
}
article a {
  color: #595959;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
  text-decoration-line: underline;
  text-decoration-color: transparent;
}
article a:hover {
  color: slategrey;
  text-decoration-color: slategrey;
}

#login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  width: fit-content;
  margin: 1rem auto auto auto;
}
#login label {
  width: 220px;
}
#login label input {
  width: 100%;
}
#login input[type=submit] {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
#login input[type=submit]:hover, #login input[type=submit]:focus {
  color: white;
  background-color: #595959;
}
#login .error {
  position: absolute;
  top: 3rem;
}

#adminmenu {
  border-bottom: 2px solid black;
  list-style-type: none;
  margin-bottom: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid black;
}
#wrapper a {
  color: #595959;
  text-decoration: none;
  cursor: pointer;
}
#wrapper a:hover, #wrapper a:focus {
  color: slategrey;
  text-decoration: underline;
}

table {
  width: 90%;
  margin: 4% auto;
  padding: 1%;
}
table th {
  position: absolute;
  clip: rect(0 0 0 0);
}
@media only Screen and (min-width: 768px) {
  table th {
    position: unset;
    clip: unset;
  }
}
table tr {
  display: block;
}
@media only Screen and (min-width: 768px) {
  table tr {
    display: table-row;
  }
}
table td {
  display: block;
  text-align: right;
}
table td::before {
  content: attr(headers);
  float: left;
  text-transform: capitalize;
  padding-right: 5px;
}
@media only Screen and (min-width: 768px) {
  table td::before {
    content: unset;
    float: none;
    text-transform: none;
    padding-right: unset;
  }
}
@media only Screen and (min-width: 768px) {
  table td {
    display: table-cell;
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  max-width: 992px;
  width: 90%;
}
@media only Screen and (min-width: 1200px) {
  form label {
    width: 100%;
  }
}
form label input,
form label textarea {
  width: 100%;
}
form label textarea {
  resize: none;
}
form input[type=submit] {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
}
form input[type=submit]:hover, form input[type=submit]:focus {
  color: white;
  background-color: #595959;
}

.error {
  text-align: center;
  color: black;
}

#aboutimg {
  border-radius: 30px;
  background-image: url(../images/about.png);
  background-size: max(100px, 17vh);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  border: 2px solid black;
  height: 60vh;
  min-height: 355px;
  overflow: hidden;
  filter: grayscale(100%);
}
@media only Screen and (min-width: 1200px) {
  #aboutimg {
    background-position: 87.5% 50%;
    background-size: 25%;
  }
}
#aboutimg .after {
  background-color: #595959;
  color: white;
  position: relative;
  height: 33%;
}
@media only Screen and (min-width: 1200px) {
  #aboutimg .after {
    height: 100%;
  }
}
#aboutimg .after::after {
  position: absolute;
  content: " ";
  border: 100px solid;
  border-color: #595959 transparent transparent transparent;
  border-radius: 50%;
  right: -100px;
  bottom: calc(100% - 100px);
  left: -100px;
}
@media only Screen and (min-width: 1200px) {
  #aboutimg .after::after {
    border-color: transparent #595959 transparent transparent;
    top: -100px;
    right: initial;
    bottom: -100px;
    left: calc(100% - 100px);
  }
}

#about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #595959;
  color: white;
  border-radius: 30px;
}
#about h2 {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
#about h2 + p {
  width: 100%;
}
#about h2 + p + p + h3 {
  text-align: right;
}
#about p {
  width: 50%;
  display: inline-block;
  margin: 1.5% 0;
}
#about h3 {
  width: 48%;
  display: inline-block;
  align-self: center;
}
#about h3 + p {
  text-align: left;
}
@media only Screen and (min-width: 768px) {
  #about h3 + p {
    order: 2;
    text-align: right;
  }
}
#about h3 + p + h3 {
  text-align: right;
}
@media only Screen and (min-width: 768px) {
  #about h3 + p + h3 {
    order: unset;
    text-align: left;
  }
}

#contactimg {
  border-radius: 30px;
  background-image: url(../images/contact.png);
  background-size: max(100px, 17vh);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  border: 2px solid black;
  height: 60vh;
  min-height: 355px;
  overflow: hidden;
  filter: grayscale(100%);
}
@media only Screen and (min-width: 1200px) {
  #contactimg {
    background-position: 12.5% 50%;
    background-size: 25%;
  }
}
#contactimg .after {
  background-color: #595959;
  color: white;
  position: relative;
  height: 33%;
}
@media only Screen and (min-width: 1200px) {
  #contactimg .after {
    height: 100%;
  }
}
#contactimg .after::after {
  position: absolute;
  content: " ";
  border: 100px solid;
  border-color: #595959 transparent transparent transparent;
  border-radius: 50%;
  right: -100px;
  bottom: calc(100% - 100px);
  left: -100px;
}
@media only Screen and (min-width: 1200px) {
  #contactimg .after::after {
    border-color: transparent transparent transparent #595959;
    top: -100px;
    right: calc(100% - 100px);
    bottom: -100px;
    left: initial;
  }
}

#contact {
  background-color: #595959;
  color: white;
  border-radius: 30px;
}
#contact fieldset {
  width: 88%;
}
@media only Screen and (min-width: 1200px) {
  #contact fieldset {
    width: 67%;
  }
}
#contact input {
  width: 100%;
  margin: 5px 0;
}
#contact textarea {
  resize: none;
  margin: 5px 0 0 0;
  overflow-y: scroll;
  scrollbar-color: #595959 transparent;
}
#contact textarea::-webkit-scrollbar {
  width: 10px;
}
#contact textarea::-webkit-scrollbar-thumb {
  background: #595959;
}
#contact textarea::-webkit-scrollbar-track {
  background: transparent;
}
#contact input,
#contact textarea {
  border-radius: 10px;
  border: none;
}
#contact input[type=submit] {
  transition: color 0.3s ease;
}
#contact input[type=submit]:hover, #contact input[type=submit]:focus {
  color: rgba(255, 255, 255, 0.8);
}

#pages {
  width: 100%;
  text-align: center;
  color: #595959;
}
#pages a {
  padding: 10px;
  font-size: medium;
  text-decoration: none;
  color: #595959;
}
#pages a:hover, #pages a:focus {
  color: black;
}

/*# sourceMappingURL=app.css.map */
