@font-face {
  font-family: lato;
  src: url(./Lato-Regular.ttf);
}
nav {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}
nav ul li:nth-child(2), nav ul li:nth-child(4) {
  border-right: none;
}
@media only Screen and (min-width: 768px) {
  nav ul li:nth-child(2), nav ul li:nth-child(4) {
    border-right: 2px solid black;
  }
}
nav ul li:last-child {
  border-right: none;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-wrap: wrap;
}
@media only Screen and (min-width: 768px) {
  nav ul li:last-child {
    margin-top: unset;
    border-bottom: 2px solid black;
  }
}
nav ul li:last-child:hover::after, nav ul li:last-child:focus::after {
  width: 0;
}
nav ul li:hover::after, nav ul li:focus::after {
  width: 100%;
}
nav ul li:hover::after, nav ul li:focus::after {
  width: 100%;
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 0;
  background-color: black;
  transition: width 0.75s;
  transition-delay: 250ms;
}
nav ul li a {
  font-size: smaller;
  text-decoration: none;
  color: black;
  min-height: 50px;
  width: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only Screen and (min-width: 768px) {
  nav ul li a {
    font-size: medium;
    height: 8vh;
  }
}
nav ul li a:hover, nav ul li a:focus {
  color: slategrey;
}
nav ul li a span {
  align-self: end;
}
nav #svg {
  background-image: url(../images/atom.svg);
  height: 23px;
  width: 23px;
  background-size: cover;
  margin: auto 5px;
}
nav .svg-inline--fa {
  border: 1px solid slategrey;
  border-radius: 100%;
  padding: 2.5px;
  margin: auto 5px;
}
nav .svg-inline--fa:hover, nav .svg-inline--fa:focus {
  background-color: black;
  color: white;
}

header {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
header h1 {
  font-size: 2em;
  color: black;
}
@media only Screen and (min-width: 1200px) {
  header h1 {
    font-size: 4em;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
}
section article {
  border-radius: 20px;
  border: 2px solid black;
  width: 100%;
}
@media only Screen and (min-width: 768px) {
  section article {
    width: 49.5%;
  }
  section article:nth-child(odd) {
    margin-right: 1%;
  }
}
section article h2 {
  color: #595959;
}
section article img {
  width: 10%;
  min-width: 50px;
  filter: grayscale(100%);
  border-radius: 10px;
}
section article a {
  color: #595959;
  text-decoration: none;
}
section article a:hover, section article a:focus {
  color: slategrey;
  text-decoration: underline;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 1rem;
  position: relative;
  min-height: 60vh;
}
#login label {
  width: 220px;
}
#login label input {
  width: 100%;
}
#login button[type=submit] {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}
#login button[type=submit]:hover, #login button[type=submit]:focus {
  color: white;
  background-color: #595959;
}
#login .error {
  position: absolute;
  top: 3rem;
}

#adminmenu {
  border-bottom: 2px solid black;
  list-style-type: none;
  margin-bottom: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid black;
}
#wrapper a {
  color: #595959;
  text-decoration: none;
}
#wrapper a:hover, #wrapper a:focus {
  color: slategrey;
  text-decoration: underline;
}

table {
  width: 90%;
  margin: 4% auto;
  padding: 1%;
}
table th {
  position: absolute;
  clip: rect(0 0 0 0);
}
@media only Screen and (min-width: 768px) {
  table th {
    position: unset;
    clip: unset;
  }
}
table tr {
  display: block;
}
@media only Screen and (min-width: 768px) {
  table tr {
    display: table-row;
  }
}
table td {
  display: block;
  text-align: right;
}
table td::before {
  content: attr(headers);
  float: left;
  text-transform: capitalize;
  padding-right: 5px;
}
@media only Screen and (min-width: 768px) {
  table td::before {
    content: unset;
    float: none;
    text-transform: none;
    padding-right: unset;
  }
}
@media only Screen and (min-width: 768px) {
  table td {
    display: table-cell;
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  max-width: 992px;
  width: 90%;
}
@media only Screen and (min-width: 1200px) {
  form label {
    width: 100%;
  }
}
form label input,
form label textarea {
  width: 100%;
}
form label textarea {
  resize: none;
}
form button[type=submit] {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
}
form button[type=submit]:hover, form button[type=submit]:focus {
  color: white;
  background-color: #595959;
}

.error {
  text-align: center;
  color: black;
}

#aboutimg {
  border-radius: 30px;
  background-image: url(../images/about.webp);
  background-size: cover;
  background-position: center;
  padding: 27vh 0;
  filter: grayscale(100%);
}

#about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  background-color: #595959;
  color: white;
  border-radius: 30px;
}
#about h2 {
  width: 100%;
  padding-top: 0;
  text-align: center;
}
#about h2 + p {
  width: 100%;
}
#about h2 + p + p + h3 {
  text-align: right;
}
#about p {
  width: 50%;
  display: inline-block;
  margin: 1.5% 0;
}

h3 {
  width: 48%;
  display: inline-block;
  align-self: center;
}
h3 + p {
  text-align: left;
}
@media only Screen and (min-width: 768px) {
  h3 + p {
    order: 2;
    text-align: right;
  }
}
h3 + p + h3 {
  text-align: right;
}
@media only Screen and (min-width: 768px) {
  h3 + p + h3 {
    order: unset;
    text-align: left;
  }
}

#contactimg {
  border-radius: 30px;
  background-image: url(../images/contac.webp);
  background-size: cover;
  background-position: center;
  padding: 27vh 0;
  filter: grayscale(100%);
}

#contact {
  background-color: #595959;
  color: white;
  border-radius: 30px;
}
#contact fieldset {
  height: 100%;
}
#contact input {
  width: 100%;
}
#contact textarea {
  resize: none;
}
#contact input, #contact textarea {
  border-radius: 10px;
  border: none;
}

body {
  margin: 0 auto;
  font-family: lato;
  min-height: 100vh;
  max-width: 1920px;
  overflow-y: scroll;
}

/*# sourceMappingURL=app.css.map */
