#adminmenu {
    border-bottom: 2px solid $c1;
    list-style-type: none;
	margin-bottom: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
    border-radius: 20px;
    border: 2px solid $c1;
    a {
        color: $c4;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $c2;
            text-decoration: underline;
        }
    }
}

table {
	width: 90%;
	margin: 4% auto;
	padding: 1%;
	th {
		position: absolute;
		clip: rect(0 0 0 0);
		@media only Screen and (min-width: 768px) {
			position: unset;
			clip: unset;
		}
	}
	tr {
		display: block;	
		@media only Screen and (min-width: 768px) {
			display: table-row;
		}
	}
	td {
		display: block;
		text-align: right;
		&::before {
			content: attr(headers);
			float: left;
			text-transform: capitalize;
			padding-right: 5px;
			@media only Screen and (min-width: 768px) {
				content: unset;
				float: none;
				text-transform: none;
				padding-right: unset;
			}
		}
		@media only Screen and (min-width: 768px) {
			display: table-cell;
			text-align: left;
		}
	}
}





form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	label {
		max-width: 992px;
		width: 90%;
		@media only Screen and (min-width: 1200px) {
			width: 100%;
		}
		input, textarea {
			width: 100%;
		}
		textarea {
			resize: none;
		}
	}
	input[type="submit"] {
		margin-top: 1rem;
		background-color: transparent;
		border: 1px solid $c1;
		border-radius: 10px;
		margin-bottom: 1rem;
		&:hover,
		&:focus {
			color: $c3;
			background-color: $c4;
		}
	 }
}

.error {
	text-align: center;
	color: $c1;
}