section {
    display: flex;
    flex-wrap: wrap;
    
    article {
        border-radius: 20px;
        border: 2px solid $c1;
        width: 49.5%;
        @media only Screen and (max-width: 767px) {
            width: 100%;
        }
        &:nth-child(odd) {
            margin-right: 1%;
            @media only Screen and (max-width: 767px) {
                margin-right: unset;
            }
        }
        h2 {
            color: $c4;
        }
        a {
            color: $c4;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $c2;
                text-decoration: underline;
            }
        }
    }
}
