footer {
    display: flex;
    align-items: center;
    align-self: center;
    border-radius: 30px;
    a {
        color: $c3;
        height: 27px;
        width: 27px;
        font-size: smaller;
        background-color: $c4;
        transition: border-color 0.4s ease-out;
        border: 1px solid;
        border-color: $c4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        line-height: 1;
        border-radius: 50%;
        &:hover,
        &:focus {
            color: $c3;
            border-color: $c3;
        }
    }
}
