html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 auto;
    font-family: lato;
    min-height: 100vh;
    max-width: 1920px;
    overflow-y: scroll;
}

a {
    transition: color 0.3s ease;
}

.pagefull {
    .before {
        padding: max(112.5px, 19vh);
        background-color: $c3;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom: 2px solid $c1;
        border-right: 2px solid $c1;
        border-left: 2px solid $c1;
        @include min_xl {
            border-top: 2px solid $c1;
            border-bottom: initial;
            border-bottom-right-radius: initial;
            border-bottom-left-radius: initial;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        &::before {
            position: absolute;
            content: " ";
            border: 100px solid;
            border-color: transparent transparent $c4 transparent;
            border-radius: 50%;
            right: -100px;
            bottom: calc(100% - 100px);
            left: -100px;
            @include min_xl {
                border-color: $c4 transparent transparent transparent;
                top: calc(100% - 100px);
                right: -100px;
                left: -100px;
                bottom: initial;
            }
        }
    }
    .content {
        color: $c3;
        background-color: $c4;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-right: 2px solid $c1;
        border-left: 2px solid $c1;
        border-top: 2px solid $c1;
        @include min_xl {
            border-bottom: 2px solid $c1;
            border-top: initial;
            border-top-right-radius: initial;
            border-top-left-radius: initial;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        > span {
            font-weight: 600;
            + span {
                font-weight: initial;
            }
        }
    }
}

a[href="#top"] {
    color: $c3;
    height: 27px;
    width: 27px;
    font-size: smaller;
    background-color: $c4;
    transition: border-color 0.4s ease-out;
    border: 1px solid;
    border-color: $c4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    border-radius: 50%;
    margin: 1.5rem auto auto auto;
    &:hover,
    &:focus {
        color: $c3;
        border-color: $c3;
    }
}
