nav {
    border-top: 2px solid $c1;
    border-right: 2px solid $c1;
    border-left: 2px solid $c1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    ul {
        list-style-type: none;
        li {
            border-right: 2px solid $c1;
            border-bottom: 2px solid $c1;
            position: relative;
            &:nth-child(2),
            &:nth-child(4) {
                border-right: none;
                 @media only Screen and (min-width: 768px) {
                    border-right: 2px solid $c1;
                 }
            }
            &:last-child {
                border-right: none;
                border-bottom: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1rem;
                flex-wrap: wrap;
                @media only Screen and (min-width: 768px) {
                    margin-top: unset;
                    border-bottom: 2px solid $c1;
                }
                &:hover::after,
                &:focus::after {
                    width: 0;
                }
            }
            &:hover::after,
            &:focus::after {
                width: 100%;
            }
            &:hover::after,
            &:focus::after {
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 0;
                background-color: $c1;
                transition: width 0.75s;
                transition-delay: 250ms;
            }
            a {
                font-size: smaller;
                text-decoration: none;
                color: $c1;
                min-height: 50px;
                width: 100%;
                display: block;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                @media only Screen and (min-width: 768px) {
                    font-size: medium;
                    height: 8vh;
                }
                &:hover,
                &:focus {
                    color: $c2;
                }
                span {
                    align-self: end;
                }
            }
        }
    }
    #svg {
        background-image: url(../images/atom.svg);
        height: 23px;
        width: 23px;
        background-size: cover;
        margin: auto 5px;
    }
    .svg-inline--fa {
        border: 1px solid $c2;
        border-radius: 100%;
        padding: 2.5px;
        margin: auto 5px;
        &:hover,
        &:focus {
            background-color: $c1;
            color: $c3;
        }
    }
    
}

header {
    border-right: 2px solid $c1;
    border-bottom: 2px solid $c1;
    border-left: 2px solid $c1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    h1 {
        font-size: 2em;
        color: $c1;
        @media only Screen and (min-width: 1200px) {
            font-size: 4em;
        }
    }
}
