$c1: black;
$c2: slategrey;
$c3: white;
$c4: #595959;

@font-face {
    font-family: lato;
    src: url(./Lato-Regular.ttf);
}

@import "nav";
@import "blog";
@import "login";
@import "admin";
@import "about";
@import "contact";