body {
	font-family: Arial, sans-serif;
	color: #FFFFFF;
}

#wrapper {
	max-width: 1200px;
	margin: auto;
	background-color: #4C4D4D;
	display: flex;
	flex-direction: column;
}

h1 {
	color: white;
	background-color: #7A7D7D;
	margin: 0;
	padding: 5% 2.5%;
}

h2 {
	color: #C7F2FF;
	padding-left: 2.5%;
}

h3 {
	padding-left: 2.5%;
}

hr {
	margin: 0;
}

#wrapper div {
	width: 95%;
	margin: auto;
	padding: 1%;
}

a {
	text-decoration: none;
	color: #C7F2FF;
}

a:hover,
a:focus {
	color: #D0CFCF;
}

p a {
	text-align: center;
	display: block;
}

form {
	background-color: #4C4D4D;
	text-align: center;
	padding: 2%;
}

label {
	display: block;
	text-align: left;
}

textarea {
	resize: none;
}

input, textarea {
	width: 80%;
}

input[type="submit"] {
	width: fit-content;
}

#login {
	display: flex;
	flex-direction: column-reverse;
	width: 200px;
	margin: 25vh auto;
}

.error {
	text-align: center;
	margin-top: 0;
	color: #FBEAEE;
	background-color: #4C4D4D;
}

table {
	width: 90%;
	margin: auto;
	padding: 1%;
}

th {
	text-align: left;
}

@media only screen and (max-width: 64em) {
	table th {
		position: absolute;
		clip: rect(0 0 0 0);
	}

	table tr {
		display: block;
	}

	table thead tr,
	table tr:nth-child(1) {
		border: none;
	}

	table td {
		display: block;
		text-align: right;
	}

	table td::before {
		content: attr(headers);
		float: left;
		font-weight: 600;
		text-transform: capitalize;
		padding-right: 5px;
	}
}