#aboutimg  {
    background-image: url(../images/about.webp);
    background-size: max(100px, 17vh);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    border: 2px solid $c1;
    min-height: 390px;
    max-height: 650px;
    height: 60vh;
    overflow: hidden;
    filter: grayscale(100%);
    @include min_xl {
        background-position: 87.5% 50%;
        background-size: 25%;
        border-right: none;
        border-top: none;
    }
    .after {
        background-color: $c4;
        color: $c3;
        position: relative;
        min-height: 33%;
        @include min_xl {
            height: 100%;
        }
        &::after {
            position: absolute;
            content: " ";
            border: 100px solid;
            border-color: $c4 transparent transparent transparent;
            border-radius: 50%;
            right: -100px;
            bottom: calc(100% - 100px);
            left: -100px;
            @include min_xl {
                border-color: transparent $c4 transparent transparent;
                top: -100px;
                right: initial;
                bottom: -100px;
                left: calc(100% - 100px);
            }
        }
    }
}

#about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $c4;
    color: $c3;
    border-left: 2px solid $c1;
    border-right: 2px solid $c1;
    border-bottom: 2px solid $c1;
    @include min_xl {
        border-left: none;
    }
    h2 {
        width: 100%;
        padding-top: 0;
        text-align: center;
        + p {
            width: 100%;
            + p + h3 {
                text-align: right;
            }
        }
    }
    p {
        width: 50%;
        display: inline-block;
        margin: 1.5% 0;
    }
    h3 {
        width: 48%;
        display: inline-block;
        align-self: center;
        + p {
            text-align: left;
            @include min_md {
                order: 2;
                text-align: right;
            }
            + h3 {
                text-align: right;
                @include min_md {
                    order: unset;
                    text-align: left;
                }
            }
        }
    } 
}
