#adminmenu {
	border-bottom: 2px solid $c1;
	list-style-type: none;
	margin-bottom: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
    border-left: 2px solid $c1;
    border-right: 2px solid $c1;
    border-bottom: 2px solid $c1;
	a {
		color: $c4;
		text-decoration: none;
		cursor: pointer;
		&:hover,
		&:focus {
			color: $c2;
			text-decoration: underline;
		}
	}
}

table {
	width: 90%;
	margin: 4% auto;
	padding: 1%;
	th {
		position: absolute;
		clip: rect(0 0 0 0);
		@include min_md {
			position: unset;
			clip: unset;
		}
	}
	tr {
		display: block;
		@include min_md {
			display: table-row;
		}
	}
	td {
		display: block;
		text-align: right;
		&::before {
			content: attr(headers);
			float: left;
			text-transform: capitalize;
			padding-right: 5px;
			@include min_md {
				content: unset;
				float: none;
				text-transform: none;
				padding-right: unset;
			}
		}
		@include min_md {
			display: table-cell;
			text-align: left;
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	label {
		max-width: 992px;
		width: 90%;
		@include min_xl {
			width: 100%;
		}
		input,
		textarea {
			width: 100%;
			overflow-y: auto;
		}
		textarea {
			resize: none;
			scrollbar-color: $c4 transparent;
			&::-webkit-scrollbar {
				width: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background: $c4;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
		}
	}
	input[type="submit"] {
		margin-top: 1rem;
		background-color: transparent;
		border: 1px solid $c1;
		margin-bottom: 1rem;
		color: $c1;
		font-weight: 400;
		&:hover,
		&:focus {
			color: $c3;
			background-color: $c4;
		}
	}
	input[type="file"] {
		border: 1px solid $c1;
		padding: 4px 8px;
		color: $c4;
		background-color: transparent;
		display: block;
		width: 75%;
		max-width: 300px;
		cursor: pointer;
		&::file-selector-button {
		  background-color: transparent;
		  border: 1px solid $c1;
		  color: $c4;
		  padding: 8px;
		}
	  }
}

.error {
	text-align: center;
	color: $c1;
}
