article {
    border-radius: 20px;
    border: 2px solid $c1;
    width: 100%;
    @include min_md {
        width: 49.5%;
        &:nth-child(odd) {
            margin-right: 1%;
        }
    }
    h2 {
        color: $c4;
    }
    img {
        width: 10%;
        height: max-content;
        min-width: 50px;
        filter: grayscale(100%);
        border-radius: 10px;
    }
    a {
        color: $c4;
        transition:
            color 0.2s ease,
            text-decoration-color 0.2s ease;
        text-decoration-line: underline;
        text-decoration-color: transparent;
        &:hover {
            color: $c2;
            text-decoration-color: $c2;
        }
    }
}

#blog-form {
    width: 50%;
    @include min_md {
        width: initial;
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
        svg {
            transition: fill 0.3s ease;
            width: 17px;
            height: 17px;
            overflow: visible;
            vertical-align: text-top;
            path {
                fill: $c4;
            }
            &:hover,
            &:focus {
                path {
                    fill: $c2;
                }
            }
        }
    }
    input[type="text"] {
        outline: none;
        border: none;
        color: $c2;
        &::placeholder {
            color: inherit;
        }
    }
}
