#contactimg {
    border-radius: 30px;
    background-image: url(../images/contact.png);
    background-size: max(100px, 17vh);
    background-position: 50% 10%;
    background-repeat: no-repeat;
    border: 2px solid $c1;
    min-height: 500px;
    overflow: hidden;
    filter: grayscale(100%);
    @include min_xl {
        background-position: 12.5% 50%;
        background-size: 25%;
    }
    .after {
        background-color: $c4;
        color: $c3;
        position: relative;
        min-height: 33%;
        @include min_xl {
            height: 100%;
        }
        &::after {
            position: absolute;
            content: " ";
            border: 100px solid;
            border-color: $c4 transparent transparent transparent;
            border-radius: 50%;
            right: -100px;
            bottom: calc(100% - 100px);
            left: -100px;
            @include min_xl {
                border-color: transparent transparent transparent $c4;
                top: -100px;
                right: calc(100% - 100px);
                bottom: -100px;
                left: initial;
            }
        }
    }
}

#contact {
    background-color: $c4;
    color: $c3;
    border-radius: 30px;
    fieldset {
        width: 88%;
        @include min_xl {
            width: 67%;
        }
    }
    input {
        width: 100%;
        margin: 5px 0;
    }
    textarea {
        resize: none;
        margin: 5px 0 0 0;
        overflow-y: auto;
        scrollbar-color: $c4 transparent;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: $c4;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    input,
    textarea {
        border-radius: 10px;
        border: none;
    }
    input[type="submit"] {
        color: $c3;
        transition: color 0.3s ease;
        font-weight: 400;
        &:hover,
        &:focus {
            color: transparentize($c3, 0.2);
        }
    }
}
