#login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 2px solid $c1;
  position: relative;
  width: fit-content;
  margin: 1rem auto;
  label {
    width: 220px;
    input {
      width: 100%;
    }
  }
  input[type="submit"] {
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid $c1;
    font-weight: 400;
    &:hover,
    &:focus {
      color: $c3;
      background-color: $c4;
    }
  }
  .error {
    position: absolute;
    top: 5px;
  }
}
