nav {
    border-top: 2px solid $c1;
    border-right: 2px solid $c1;
    border-left: 2px solid $c1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    ul {
        list-style-type: none;
        li {
            border-right: 2px solid $c1;
            border-bottom: 2px solid $c1;
            position: relative;
            &:nth-child(2),
            &:nth-child(4) {
                border-right: none;
                @include min_md {
                    border-right: 2px solid $c1;
                }
            }
            &:last-child {
                border-right: none;
                border-bottom: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 1rem;
                flex-wrap: wrap;
                @include min_md {
                    margin-top: unset;
                    border-bottom: 2px solid $c1;
                }
                &:hover::after,
                &:focus::after {
                    width: 0;
                }
            }
            &:hover::after,
            &:focus::after {
                width: 100%;
            }
            &:hover::after,
            &:focus::after {
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 0;
                background-color: $c1;
                transition: width 0.75s;
                transition-delay: 250ms;
            }
            a {
                font-size: smaller;
                text-decoration: none;
                color: $c1;
                min-height: 50px;
                width: 100%;
                display: block;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                @include min_md {
                    font-size: medium;
                    min-height: 70px;
                }
                &:hover,
                &:focus {
                    color: $c2;
                }
                span {
                    align-self: end;
                }
            }
        }
    }
    .atom,
    .facebook,
    .twitter {
        transition:
            color 0.3s ease,
            background-color 0.3s ease;
        font-size: 24px;
        box-sizing: content-box;
        background-color: $c3;
        color: $c4;
        &:hover,
        &:focus {
            background-color: $c4;
            color: $c3;
        }
    }
}

header {
    border-right: 2px solid $c1;
    border-bottom: 2px solid $c1;
    border-left: 2px solid $c1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    h1 {
        font-size: 2em;
        color: $c1;
        @include min_xl {
            font-size: 4em;
        }
    }
}
