
#pages {
    width: 100%;
    text-align: center;
    color: $c4;
    a {
        padding: 10px;
        font-size: medium;
        text-decoration: none;
        color: $c4;
        &:hover,
        &:focus {
            color: $c1;
        }
    }
    a.current {
        text-decoration: underline;
    }
}
