<div id="aboutimg" role="img" aria-label="science2" class="col-12 col-xl-6 mt-3"></div>
<section id="about" class="col-12 col-xl-6 p-3 px-md-5 py-md-1 mt-xl-3">
    <h2>
        There is no strife
    </h2>
    <p>
        Its hazards are hostile to us all. Its conquest deserves the best of all mankind, and its opportunity
        for peaceful cooperation many never come again. But why, some say, the moon?
    </p>
    <p>
        We choose to go to the moon. We choose to go to the moon in this decade and do the other things, not
        because they are easy, but because they are hard.
    </p>
    <h3>
        Office of the Presidency
    </h3>
    <p>
        In the last 24 hours we have seen facilities now being created for the greatest and most complex
        exploration in man's history.
    </p>
    <h3>
        Important decisions 
    </h3>
</section>
