<form id="contact" class="col-12 col-xl-6 px-3 py-5 p-xl-0 mt-3" method="post" action="./cont.php">
    <fieldset class="row g-0 align-items-start">
        <legend><h2 id="sent">Contact us</h2></legend>
        <label class="col-12 col-md-6 pe-md-2" for="name">Enter your name:
            <input type="text" name="name" id="name" autocomplete="on" required>
        </label>
        <label class="col-12 col-md-6 ps-md-2" for="email">Enter your email:
            <input type="email" name="email" id="email" autocomplete="on" required>
        </label>
        <label class="col-12" for="message">Enter your message:
            <textarea class="col-12" name="message" id="message" maxlength="1000" rows="6" required></textarea>
        </label>
        <input class="btn btn-dark mt-2" type="submit" value="Send">
    </fieldset>
</form>

<div id="contactimg" role="img" aria-label="science" class="col-12 col-xl-6 row justify-content-end align-items-end mt-3 g-0">
    <div class="after col-12 col-xl-5 d-flex flex-column flex-xl-row justify-content-center align-items-xl-center p-3 pe-xl-5">
        We choose to go to the moon. We choose to go to the moon in this decade and do the other things, not
        because they are easy, but because they are hard.
    </div>
</div>

<div class="pagefull col-12 row d-flex flex-column g-0 text-end mt-3">
    <p class="content col-12 order-xl-2 mx-auto mb-0 px-3 py-5 row g-0">
        <span class="col-12 text-xl-center mx-auto mb-3 mt-xl-4">
            Apollo
        </span>
        <span class="col-12 col-xl-4 mx-auto">
            But a rock of all sizes and shapes, fragments of all sizes and shapes,
            and even colors that have grown together to become a cohesive rock outlasting the nature of Space, 
            sort of living together in a very coherent, very peaceful manner. 
            When we return this rock or some of the others like it to Houston, 
            we'd like to share a piece of this rock with so many of the countries throughout the world.
        </span>
    </p>
    <div class="before col-12 order-xl-1 position-relative overflow-hidden"></div>
</div>