<script>
 
 function callback(e) {
 
   const formData = new FormData(this);
   const sent = document.querySelector("#sent");
   let myPromise = new Promise(function(myResolve, myReject) {
     let req = new XMLHttpRequest();
     req.open("POST", "cont.php", true);
     req.addEventListener("load", function() {
       if (req.status === 200) {
         myResolve(req.responseText);
       } else {
         myReject("File not Found");
       }
     });
     req.send(formData);
   });
   myPromise.then((value) => {
     sent.innerHTML = value;
   }
   ).catch((error) => {
     sent.innerHTML = error;
   }
   );
   e.preventDefault();
}


window.addEventListener("load", function() {
   document.querySelector("#contact").addEventListener("submit",callback,null);
});
</script>
