<form id="contact" class="col-12 col-xl-6 p-3 px-xl-5 py-xl-1 mt-3" method="post" action="./cont.php">
    <fieldset class="row g-0 align-items-center">
        <legend><h2 id="sent">Contact us</h2></legend>
        <label class="col-12 col-md-6 pe-md-2" for="name">Enter your name:
            <input type="text" name="name" id="name" autocomplete="on" required>
        </label>
        <label class="col-12 col-md-6 ps-md-2" for="email">Enter your email:
            <input type="email" name="email" id="email" autocomplete="on" required>
        </label>
        <label class="col-12" for="message">Enter your message:
            <textarea class="col-12" name="message" id="message" maxlength="1000" rows="6" required></textarea>
        </label>
        <input class="btn btn-dark mt-2" type="submit" value="Send">
    </fieldset>
</form>
<div id="contactimg" role="img" aria-label="science" class="col-12 col-xl-6 mt-3"></div>
